.venv
*.gz
*.bgz
*.csv
*/test-data
*.log
*.sqlite3
*.db
*.pyc
__pycache__/
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
*.egg
Data/

calculate_ld/test-data/
finampping/test-data/

py312
*.chain
Gwaslab/21001_raw/
Gwaslab/work/