
process {
    withName: 'map_to_build' { memory = '4 GB' }
    withName: 'ten_percent_counts' { memory = '4 GB' }
    withName: 'generate_strand_counts' { memory = '4 GB' }
    withName: 'summarise_strand_counts' { memory = '4 GB' }
    withName: 'harmonization' { memory = '4 GB' }
    withName: 'qc' { memory = '4 GB' }
}
