__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.venv/

tests/output/
logs/debug/
logs/runs/
logs/errors/
tmp/
outputs/

*.log
*.tsv.gz
*.tsv.gz.md5sum
*.pickle
chrom_manifest.tsv
